$component-color-sidenav: #4A6FA5;
$component-color-User: #222e50;
$component-color-HeaderFooter: #222e50;
$component-color-Main: #394263;
$component-color-Task: #f2f5fa;
$component-color-Loading: #f2f5fa;
$color-Home-header: #f2f5fa;
$color-bright-font: #f5fbef;
$color-dark-font: darkgray;
$color-JATLA-font: #222e50;
$color-darkest: #222e50;
$element-color: #f5fbef;
$hover-color: lightblue;
$focus-color: #C0D6DF;
$font-stack: 'Pontano Sans', sans-serif;