@import './variables';

/* Global settings 
----------------------------------------------*/
html, body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* Grid settings
----------------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 80px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

// Non-mobile styles
@media only screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    height: 100vh;
  }
}