@import './variables';

.footer {
  grid-area: footer;
  background-color: $component-color-HeaderFooter;
  color: $element-color;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $element-color;
  }
}