@import './variables';

.home {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.container-content {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.home__header {
  background-color: $color-Home-header;
  padding: 20px;

  h1 {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.3em;
    color: $color-JATLA-font;
  }

  h2 {
    margin-top: 0px;
  }
}

.container-content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__access--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__access-btn {
  border: none;
  background-color: transparent;
  font-family: $font-stack;
  font-size: 1rem;
  text-decoration-line: underline;
}

.home__access-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.home__description {
  color: $color-bright-font;
  background-color: #4A6FA5;
  flex-grow: 1;
  padding: 20px;

  p {
    margin: 0;
  }
}

.access {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access__login-register-error {
  margin-top: 0;
  color: red;
}