@import './variables';

.main {
  grid-area: main;
  // display: flex;
  column-count: 1;
  background-color: $component-color-Main;
}

.main__column-category {
  // flex: 1 1 0;
  display: flex;
  flex-direction: column;
  width: 100%; // necessary?
  // margin-top: 10px;
  // width: calc(25% - 16px);
  // box-sizing: border-box;
  // border-right: 1px solid black;

  span {
    text-align: center;
    color: darkgray;
  }
}

// .main__column-category:last-child {
//   border: none;
// }

.main__column-header {
  margin-top: 10px;
}
