@import './variables';

.main {
  grid-area: main;
  background-color: $component-color-Main;
  display: grid;
  grid-template-areas:
    "column-A"
    "column-B"
    "column-C"
    "column-D"
}

.main__column-A {
  grid-area: column-A;
}

.main__column-B {
  grid-area: column-B;
}

.main__column-C {
  grid-area: column-C;
}

.main__column-D {
  grid-area: column-D;
}

.main__column-category {
  display: flex;
  flex-direction: column;
}

.main__column-header {
  margin-top: 10px;
  text-align: center;
  color: $color-dark-font;
}

// Medium screens breakpoint
@media only screen and (min-width: 992px) {
  .main {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "column-A column-B"
      "column-C column-D"
  }

  .main__column-category:nth-child(2n+1) {
    border-right: 1px solid $color-darkest;
  }
}

// Large screens breakpoint
@media only screen and (min-width: 1400px) {
  .main {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
      "column-A column-B column-C column-D"
    }

  .main__column-category:nth-child(-n+3) {
    border-right: 1px solid $color-darkest;
  }
}
