@import './variables';

.sidenav {
  display: flex;
  flex-direction: column;
  grid-area: sidenav;
  background-color: $component-color-sidenav;
  overflow: auto;
}

.sidenav__list {
  // display: flex;
  // flex-direction: column;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
  position: sticky;
  top: 0;
}

.sidenav__list-elem {
  // flex: 1;
  color: $element-color;
  padding: 20px 0px 20px 0px;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.sidenav__input {
  font-family: $font-stack;
}

.sidenav__status {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sidenav__showTasks {
  display: flex;
  flex: 1;
}

.sidenav__date {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sidenav_input-date--no-arrow::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.sidenav__date-default-today {
  display: flex;
  align-items: center;
  padding-top: 5px;

  input {
    margin-left: 10px;
  }
};


.sidenav__btn {
  flex: 1;
  font-family: $font-stack;
  background: $element-color;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.1s;
  -webkit-appearance: none;
}

.sidenav__btn:hover {
  background: $hover-color;
}

.sidenav__btn:focus {
  outline-style: none;
  background: $focus-color;
}

.sidenav__btn--border-left-right {
  border-left: 0.5px solid $hover-color;
  border-right: 0.5px solid $hover-color;
}

.sidenav__btn--active {
  background: $hover-color;
}