@import './variables';

.sidenav {
  // display: flex;
  // flex-direction: column;
  grid-area: sidenav;
  background-color: $component-color-sidenav;
  // position: sticky;
  // top: 0;
  ul {
    margin-top: 0;
    position: sticky;
    top: 0;
  }
}

.sidenav__list {
  display: flex;
  flex-direction: column;
  // margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}

.sidenav__list-elem {
  color: $element-color;
  padding: 20px 0px 20px 0px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;

  p {
    margin: 0;
  }
}

.sidenav__search {
  flex: 1;
}

.sidenav__status {
  flex: 1;
}

.sidenav__date {
  display: flex;
  flex-direction: column;
  flex: 1;

  input {
    font-family: $font-stack;
    background: $element-color;
  }
}


.sidenav__showTasks {
  flex: 1;
  display: flex;
}

.sidenav__btn {
  flex: 1;
  background: $element-color;
  border: none;
  padding: 10px;
  transition-duration: 0.1s;
  -webkit-appearance: none;
}

.sidenav__btn:hover {
  background: $hover-color;
}

.sidenav__btn:focus {
  outline-style: none;
  background: $focus-color;
}

.sidenav__btn--border-left-right {
  border-left: 0.5px solid $hover-color;
  border-right: 0.5px solid $hover-color;
}

.sidenav__btn--active {
  background: $hover-color;
}