@import './variables';

.task {
  // flex: 1;
  // flex-grow: 0;
  // flex-shrink: 1;
  // flex-basis: 0;
}

.task:hover {
  background: $hover-color;
}

.task-category-A {
  border: 1px solid red;
  margin: 8px;
  padding: 8px;
}
.task-category-B {
  border: 1px solid orange;
  margin: 8px;
  padding: 8px;
}
.task-category-C {
  border: 1px solid green;
  margin: 8px;
  padding: 8px;
}
.task-category-D {
  border: 1px solid lightgray;
  margin: 8px;
  padding: 8px;
}