@import './variables';

.task {
  margin: 4px 8px 4px 8px;
  padding: 8px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  background-color: $component-color-Task;
}

.task:first-child {
  margin-top: 8px;
}

.task:last-child {
  margin-bottom: 8px;
}

.task:hover {
  background: $hover-color;
}

.task--red {
  border: 1px solid red;
}

.task--orange {
  border: 1px solid orange;
}

.task--green {
  border: 1px solid green;
}

.task--lightgray {
  border: 1px solid lightgray;
}

.task__title--bold {
  font-weight: bold;
}

.task__interaction-icons {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  color: $color-dark-font;
  font-size: 1rem;
}

.task__interaction-icon--push-right{
  margin-left: auto;  
}

.task__interaction-icon--increased-margin{
  margin: 0 15px;
}

.task__interaction-icon-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: $color-dark-font;
  font-size: 1rem;
}

.task__interaction-icon-button:hover {
  color: #000000;
  cursor: pointer;
}

// Medium screens breakpoint
@media only screen and (min-width: 992px) {
  .task--orange, .task--lightgray {
    margin-left: 4px;
  }

  .task--red, .task--green {
    margin-right: 4px;
  }
}

// Large screens breakpoint
@media only screen and (min-width: 1400px) {
  .task--orange, .task--green {
    margin-left: 4px;
    margin-right: 4px;
  }
}