.sidenav {
  display: flex;
  flex-direction: column;
  grid-area: sidenav;
  background-color: #648ca6;
}

.sidenav__list {
  margin-top: 50px;
  padding-left: 20px;
  list-style-type: none;
}

.sidenav__list-elem {
  color: #f5fbef;
  padding: 20px 20px 20px 0px;
}